<table align="center" cellspacing="0" cellpadding="0" border="0"
    style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;min-width:600px;margin:0 auto;padding:0;">
    <tbody>
        <tr>
            <td width="600"
                style="outline:none;width:600px;min-width:600px;margin:0;padding:0;" align="left" valign="top">

                <table cellspacing="0" cellpadding="0" border="0"
                    style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0;"
                    bgcolor="#ffffff">
                    <tbody>
                        <tr>
                            <td style="outline:none;width:100%;margin:0;padding:50px 0 0px 283px;" align="left" valign="top">
                                <a rel="nofollow noopener noreferrer" target="_blank" href="https://nvoye.com/">
                                    <img src="https://nvoye.com/horizontal_blue_logo.svg" width="56"
                                        style="outline:none;display:block;height:auto;line-height:100%;text-decoration:none;margin:0;padding:0;border:none;">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
