<table cellspacing="0" cellpadding="0" border="0" class="yiv8745282575main_content_outer_wrapper_table"
    style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0;"
    bgcolor="#ffffff">
    <tbody>
        <tr>
            <td style="outline:none;width:100%;margin:0;padding:0;" align="left" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" class="yiv8745282575table_full_width"
                    style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0;">
                    <tbody>
                        <tr>
                            <td class="yiv8745282575padded_mobile yiv8745282575main_content_inner_wrapper_td"
                                style="outline:none;width:100%;margin:0;padding:0;" align="left" valign="top">
                                <table cellspacing="0" cellpadding="0" border="0" class="yiv8745282575table_full_width"
                                    style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0;">
                                    <tbody>
                                        <tr>
                                            <td class="yiv8745282575main_heading_td yiv8745282575unpadded_mobile"
                                                style="outline:none;width:100%;color:#17181a;font-family:'FreightSans Pro', 'Segoe UI', 'SanFrancisco Display', Arial, sans-serif;font-size:26px;font-style:normal;font-weight:normal;line-height:30px;word-spacing:0;margin:0;padding:60px 120px 0;"
                                                align="center" valign="top">
                                                Your code is: #OTP
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="yiv8745282575body_content_td yiv8745282575unpadded_mobile"
                                                style="outline:none;width:100%;color:#797c7f;font-family:'Fakt Pro', 'Segoe UI', 'SanFrancisco Display', Arial, sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:24px;word-spacing:0;margin:0;padding:50px 80px 0;"
                                                align="left" valign="top">
                                                <p style="outline:none;margin:0;padding:0;">This code will be active for
                                                    #OTPExpiryTimeInMinute minute. If you don't enter it on the app page you just visited
                                                    within that time, you can resend it.</p>
                                            </td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</td>
</tr>
</tbody>
</table>